@media (max-width: 768px) {
  .logo {
    width: 50px; /* ajuste o tamanho da logo */
    position: relative; /* ajuste a posição da logo */
    top: 0;
    left: 0;
  }
  .titulo {
    margin-left: 60px; /* ajuste a margem do título */
  }
}
